body, h1, h2, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f1f1f1;
  color: #333;
}

header {
  text-align: center;
  background-color: #3498db;
  padding: 20px;
  color: #fff;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#filters, #add-car {
  flex: 1.5;
  padding: 30px; 
  background-color: #fff;
  border-radius: 10px;
  margin-right: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
  overflow-y: auto;  
}

#cars, #cart {
  flex: 1.5;
  padding: 30px; 
  background-color: #fff;
  border-radius: 10px;
  margin-right: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
  overflow-y: auto;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

input[type="file"] {
  background-color: transparent;
  border: 2px solid #ccc;
}

button {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

.car-info {
  display: flex;
  align-items: center;
}

.car-image {
  max-width: 100px;
  margin-right: 15px;
}

#total {
  font-weight: bold;
  margin-top: 15px;
}

#checkout {
  background-color: #e74c3c;
}

.remove-from-cart {
  background-color: #e74c3c;
  color: #fff;
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.add-to-cart {
  background-color: #27ae60;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; 
}

#sale {
  background-color: #e67e22;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  display: none;
}